.titles {
    font-size: 7.5rem;
    font-family: 'Playfair';
    font-weight: bold;
    line-height: 7rem;
    position: relative;
    z-index: 3;
    @media screen and (max-width:768px) {
        font-size: 3.5rem;
        line-height: 3rem;
    }
}
.data {
    background: #e1e1e1;
    // background: #afad9a;

    .bg-nature {
        position: absolute;
        top: 0;
        right: -32px;
        width: 50%;
        // z-index: -1;
        height: auto;
        opacity: .1;
        @media screen and (max-width:768px) {
            width: 100%;
            z-index: 1;
            opacity: .1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .data-card {
    }
    .card {
        &:hover {
            .content {
                top: 0;
               background: linear-gradient(to top, #1b1b1b, rgba(#1b1b1b,.7));
                border-radius: 16px;
                transition: .5s;
            }
            h4,p {
                color: white;
            }

            .btn-card {
                display: block;
            }
        }
        position: relative;
        width: 100%;
        height: 360px;
        border-radius: 16px;
        border:1px solid transparent;
        background-color: transparent;
        transition: .5s;
        .content {
            transition: .5s;
            position: absolute;
            // bottom: 8px;
            // left: 8px;
            top: 0;
            bottom: 0;
            left: 0;
           
            right: 0;
            border-radius: 16px 16px;
            background: linear-gradient(to top, #1b1b1b, transparent);
            .padd {
                padding: 8px 16px;
                position: absolute;
                bottom: 0;
                transition: .5s;
                left: 0;
                h4 {
                    color: rgb(208, 208, 208);
                    font-size: 2rem;
                }
                p {
                    color: #989898;
                    font-size: 1.1rem;
                }
            }
        }
        .image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 16px;
                object-fit: cover;
            }
        }
    }
}

.btn-card {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: white;
    font-size: 1.6rem;
    background: #1b1b1b;
    border-radius: 32px;
    padding: 4px 16px;
    display: none;
    transition: .5s;
}