footer {
    padding: 32px 0;
    background: #1a1a1a;
    .logo {
        width: 200px;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .alls {
        color: white;
        .title {
            font-family: 'Playfair';
            font-size: 1.8rem;
        }


    }
    ul {
        li {
            a {
                color: #ccc;
            }
        }
    }
    .btn-click {
        border: 2px solid white;
        color: white;
    }
}
.btn-click {
    // background: darkblue;
    border: 2px solid black;
    padding: 8px 32px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1.1rem;

}