$color-primary : #8bbcea;
$color-second: rgba(225, 221, 143, 1);
main, body {
    font-family: 'jost';
    overflow-x: clip;
}

section {
    min-height: 100vh;
    padding: 32px 0;
    position: relative;
}