$color-primary : #8bbcea;
$color-second: rgba(225, 221, 143, 1);
main, body {
    font-family: 'jost';
    overflow-x: clip;
    p,li {
        font-size: 1.2rem;
        @media screen and (max-width:768px) {
            font-size: 1.1rem;
        }
    }
}

section {
    min-height: 100vh;
    padding: 32px 0;
    position: relative;
}